/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
	min-inline-size: 320px;
	min-block-size: 100dvb;
	position: relative;

	display: flex;
	flex-direction: column;
	align-items: center;

	background-color: var(--bg-color, #fff);
	background-image: var(--bg-image);
	background-size: cover;
	background-attachment: fixed;
}

.header {
	inline-size: var(--content-width);
	margin: 100px auto 95px;
	padding-block-start: clamp(120px, 9vw, 130px);
	padding-block-end: clamp(120px, 9vw, 130px);

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 20px;

	border: 2px solid var(--accent-color);
	background-color: var(--bg-color);
}

.header__title {
	font-family: 'PressStart2P', sans-serif;
	font-size: clamp(49px, 4.5vw, 65px);
	font-weight: 400;
	line-height: 100%;
	text-transform: uppercase;
	text-decoration: none;
	color: var(--text-color);
}

.header__subtitle {
	color: var(--text-color);

	font-family: 'PressStart2P', sans-serif;
	font-size: clamp(14px, 1.6vw, 23px);
	font-weight: 400;
	line-height: 100%;
	text-transform: uppercase;
}

.content {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 51px;
}

/* CARD */

.card__content {
	inline-size: var(--content-width);

	display: flex;
	flex-direction: column;
	align-items: start;
	justify-content: space-between;
	gap: 2px;

	border: 2px solid var(--accent-color);
	background-color: var(--bg-color);
}

.card__title {
	padding: 4px 10px;

	font-family: 'Inter-Variable', sans-serif;
	font-size: 18px;
	font-variation-settings: 'wght' 715;
	font-style: normal;
	line-height: 22px;
}

.card__image {
	position: relative;
	inline-size: 100%;
	aspect-ratio: 1 / 1;
	margin: 0;
	overflow: hidden;
	border-block-start: 2px solid var(--accent-color);
	border-block-end: 2px solid var(--accent-color);
}

.card__image-label {
	position: absolute;
	inset-block-start: 23px;
	inset-inline-end: 26px;
	z-index: 1;

	font-family: 'PressStart2P', sans-serif;
	font-size: 14px;
	font-weight: 400;

	color: var(--text-color);
	opacity: 0.5;
	mix-blend-mode: hard-light;
	text-shadow:
		-1px 0 var(--label-stroke-color),
		0 1px var(--label-stroke-color),
		1px 0 var(--label-stroke-color),
		0 -1px var(--label-stroke-color);
}

@supports (
	(text-stroke: 1px var(--label-stroke-color)) or
		(-webkit-text-stroke: 1px var(--label-stroke-color))
) {
	.card__image-label {
		-webkit-text-stroke: 1px var(--label-stroke-color);
		text-stroke: 1px var(--label-stroke-color);
		text-shadow: none;
	}
}

.card__image img {
	inline-size: 100%;
	block-size: 100%;
	object-fit: cover;
	object-position: right;
}

.card__image--brightness img {
	filter: brightness(120%);
}

.card__image--grayscale img {
	filter: grayscale(55%);
}

.card__image--saturate img {
	filter: saturate(300%);
}

.card__image--hue-rotate img {
	filter: hue-rotate(30deg);
}

.card__image--invert img {
	filter: invert(80%);
}

.card__image--sepia img {
	filter: sepia(100%);
}

.card__image--blur img {
	filter: blur(15px);
}

.card__image--hue-opacity img {
	filter: hue-rotate(90deg) opacity(70%);
}

.card__text-block {
	padding-inline: 25px;
	padding-block-start: 25px;
	padding-block-end: 20px;

	display: flex;
	flex-direction: column;
	align-items: start;
	justify-content: space-between;
	gap: 19px;
}

.card__text {
	font-family: 'Inter-Variable', sans-serif;
	font-size: 18px;
	font-variation-settings: 'wght' 410;
	line-height: 21px;

	display: flex;
	flex-direction: column;
	align-items: start;
	justify-content: space-around;
	gap: 27px;
}

.card__buttons {
	align-self: end;

	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	gap: 7px;
}

.card__icon-button {
	border: 2px solid transparent;
	padding: 0;
	background: none;
	cursor: pointer;
	transition: border-color 0.3s ease;
}

.card__icon-button:focus {
	outline: none;
}

.card__icon-button:focus-visible {
	border-color: var(--accent-color);
}

.button {
	position: relative;
	border: none;
	outline: 2px solid var(--accent-color);
	overflow: hidden;

	background-color: var(--button-text-color);

	font-family: 'PressStart2P', sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 90%;

	cursor: pointer;
	transition: box-shadow 0.3s ease;
}

.button:focus {
	outline: 2px solid var(--accent-color);
}

.button:focus-visible {
	box-shadow: 5px 5px 0 var(--accent-color);
}

.button::before {
	content: '';
	position: absolute;
	inset: 0;
	background-color: var(--accent-color);
	transform: translateX(-100%);
	transition: transform 0.5s ease-in-out;
}

.button:hover::before {
	transform: translateX(0);
}

.card__like-button {
	padding: 10px 36px;
}

.button__text {
	position: relative;
	z-index: 1;
	color: var(--button-text-color);
	mix-blend-mode: difference;
}

.save__button {
	margin-block-start: 4px;
	margin-block-end: 100px;
	padding: 15px 20px;

	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	gap: 8px;
}

.save__icon {
	z-index: 1;
	inline-size: 21px;
	block-size: 21px;
	color: var(--button-text-color);
	mix-blend-mode: difference;
}

/* DIALOG */

.dialog {
	padding: 30px;
	max-inline-size: 353px;
	border: 2px solid var(--accent-color);
	background-color: var(--bg-color);
	color: var(--text-color);
}

.dialog[open] {
	display: grid;
}

.dialog__form {
	display: grid;
	grid-template-columns: min-content 1fr;
	align-items: center;
	row-gap: 30px;
	column-gap: 20px;
}

.dialog__text {
	font-family: 'PressStart2P', sans-serif;
	font-weight: 400;
	font-size: 14px;
	line-height: 1.5;
	text-transform: uppercase;
	text-wrap: balance;
}

.dialog__button {
	grid-column: 1 / 3;
	padding: 9px 17px;
	background-color: transparent;
	text-transform: uppercase;
}

.dialog__icon {
	inline-size: 39px;
	block-size: 39px;
}

.dialog::backdrop {
	background-color: rgb(0 0 0 / 75%);
}

/* ADAPTIVE */

@media (width <= 375px) {
	.save__button {
		flex-direction: column;
	}

	.save__icon {
		inline-size: 28px;
		block-size: 28px;
	}

	.dialog {
		padding: 30px 40px;
	}
}
