/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */

:root {
	--content-width: clamp(375px, 48.6vw, 700px);
	--bg-color: #fff;
	--text-color: #000;
	--label-stroke-color: #fff;
	--accent-color: #000;
	--button-text-color: #fff;
	--contour-color: #000;
	--animation-fill-color: red;

	--bg-image: repeating-linear-gradient(
			to right,
			#d3d3d3,
			#d3d3d3 2px,
			transparent 2px,
			transparent 4px
		),
		repeating-linear-gradient(
			to bottom,
			#d3d3d3,
			#d3d3d3 2px,
			transparent 2px,
			transparent 4px
		),
		linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a);
}
